{% extends "base.html" %}

{% block content %}

<!-- component -->
<div class="relative pt-2 lg:pt-2 min-h-screen">
    <div class="bg-cover w-full flex justify-center items-center"
        style="background-image: url('/images/mybackground.jpeg');">
        <div class="w-full bg-white p-5 bg-opacity-40 backdrop-filter backdrop-blur-lg">
            <div class="w-12/12 mx-auto rounded-2xl bg-white p-5 bg-opacity-40 backdrop-filter backdrop-blur-lg">

                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-2xl font-semibold">My Products</h2>
                    <a href="{% url 'product-create' %}" class="px-4 py-2 bg-gray-600 text-white font-semibold rounded-lg hover:bg-blue-700 transition duration-300">
                        Create a Product
                    </a>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 text-center px-2 mx-auto">
  
                    {% for products in object_list %}

                        <article class="bg-white p-6 mb-6 shadow transition duration-300 group transform hover:-translate-y-2 hover:shadow-2xl rounded-2xl cursor-pointer border">
                            <div class="relative mb-4 rounded-2xl">
                                <img class="max-h-80 rounded-2xl w-full object-cover transition-transform duration-300 transform group-hover:scale-105"
                                    src="{% if products.cover %}{{ products.cover.url }}{% else %}https://dummyimage.com/720x400{% endif %}" alt="{{ product.name }}">

                                <a href="{{ products.get_absolute_url }}" class="flex justify-center items-center bg-red-700 bg-opacity-80 z-10 absolute top-0 left-0 w-full h-full text-white rounded-2xl opacity-0 transition-all duration-300 transform group-hover:scale-105 text-xl group-hover:opacity-100"
                                    target="_self" rel="noopener noreferrer">
                                    <h2 class="text-gray-900 title-font text-lg font-medium">
                                        View product
                                    </h2>
                                    <svg class="ml-2 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M13 5l7 7-7 7M5 5l7 7-7 7"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="flex justify-between items-center w-full pb-4 mb-auto">
                                <div class="flex items-center">
                                    <div class="pr-3">
                                    </div>
                                    <div class="flex flex-1 items-center">
                                        <p class="text-lg font-semibold">{{ products.name }}</p>
                                        {% if products.active %}
                                            <span class="ml-2 text-sm bg-green-100 text-green-500 px-2 py-1 rounded">
                                                Active
                                            </span>
                                        {% else %}
                                            <span class="ml-2 text-sm bg-gray-100 text-gray-500 px-2 py-1 rounded">
                                                Draft
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <div class="text-lg flex items-center text-black-800">
                                        €{{ products.price_display }}
                                    </div>
                                </div>
                            </div>
                            <h3 class="font-medium text-xl leading-8">
                                <a href="{{ products.get_absolute_url }}"
                                    class="block group-hover:text-red-700 transition-colors duration-200">
                                    {{ products.description }}
                                </a>
                            </h3>
                        </article>

                    {% endfor %}
                   
                </div>
               
            </div>
        </div>
    </div>
</div>

{% endblock content %}
